@font-face {
  font-family: "CodaCaption";
  src: url("../fonts/CodaCaption-ExtraBold.eot?") format("eot"), url("../fonts/CodaCaption-ExtraBold.woff2") format("woff2"), url("../fonts/CodaCaption-ExtraBold.woff") format("woff"), url("../fonts/CodaCaption-ExtraBold.ttf") format("truetype"), url("../fonts/CodaCaption-ExtraBold.svg#CodaCaption") format("svg");
}

@font-face {
  font-family: "MavenPro";
  src: url("../fonts/MavenPro-VariableFont_wght.eot?") format("eot"), url("../fonts/MavenPro-VariableFont_wght.woff2") format("woff2"), url("../fonts/MavenPro-VariableFont_wght.woff") format("woff"), url("../fonts/MavenPro-VariableFont_wght.ttf") format("truetype"), url("../fonts/MavenPro-VariableFont_wght.svg#MavenPro") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/Roboto-Bold.eot?") format("eot"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #777777;
}

.centered {
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  height: 2.5rem;
  padding: 0.2rem 0;
  width: 100%;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner img {
  width: 2.5rem;
}

.header-inner .link {
  margin-left: 5rem;
  white-space: nowrap;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__title {
  font-weight: 600;
  font-size: 2rem;
}

.main-content__img {
  position: relative;
  width: 7rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
}

.main-content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  width: 16rem;
  padding: 1rem;
  font-family: "Roboto";
}

.main-content-form input {
  width: 100%;
  margin: 0.5rem 0;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  -o-transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  border-radius: 0.2rem;
}

.main-content-form input:focus {
  outline: none;
}

.main-content-form__select {
  width: 100%;
  margin: 0.5rem 0;
  -webkit-transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  -o-transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  transition: cubic-bezier(1, 0, 0, 1) 0.4s;
  border-radius: 0.2rem;
  height: 2.5rem;
}

.main-content-form__select:focus {
  outline: none;
}

.main-content-form__text {
  height: 2.5rem;
}

.main-content-form__label {
  text-align: left;
  color: #A5A5A5;
}

.main-content-form__submit {
  cursor: pointer;
  width: 12rem;
  height: 2.5rem;
  margin: 1.5rem 0;
  background-color: #28B446;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-content-form__submit:hover {
  background-color: #219B38;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  opacity: 0.4;
  font-size: 1rem;
}

.footer-inner {
  text-align: center;
  padding: 0.5rem 0;
}

@media screen and (max-width: 620px) {
  .link {
    margin-left: 1rem !important;
  }
}